extends layout

block content
  h1 Upload Product

  form(method="post", action="/createProduct")
    div
      label NFT Identifier:
      input(type="text", name="nft_identifier", required)
    div
      label Product Name:
      input(type="text", name="product_name")
    div
      label Product Description:
      textarea(name="product_description")
    div
      label URL:
      input(type="text", name="url", required)
    div
      input(type="submit", value="Upload Product")
